<div class="ui vertically padded page grid" ng-cloak>
<div class="column">
<div class="ui doubling five cards">
	<div class="ui card bookmark" ng-repeat="bookmark in folder.bookmarks">
		<div class="ui dimmer" ng-class="{'active' : loadingBookmark[$index]}">
			<div class="ui loader"></div>
		</div>
		<div class="ui content dimmable">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<a ng-href="{{ bookmark.url }}" target="_blank"><div class="ui inverted button">Open</div></a>
					</div>
				</div>
			</div>
			<div class="header">
			<i class="bookmark circular icon breakword"></i>
				{{ bookmark.title }}
			</div>
			<div class="description breakword">
				{{ bookmark.url }}
			</div>
		</div>
		<div class="ui attached three buttons">
			<div class="ui button" ng-click="toggleMoving($index)">
				<i class="folder icon"></i> 
			</div>
			<div class="ui button" ng-click="edit($index)">
				<i class="edit icon"></i>
			</div>
			<div class="ui button" ng-click="remove($index)">
				<i class="trash icon"></i>
			</div>
		</div>
		<select class="ui dropdown bottom attached" ng-change='moveToFolder($index, selectedFolder)' ng-model="selectedFolder" ng-options="folder.name for folder in folders" ng-show="moving[$index]">
		<option value="">Move to folder</option>
		</select>
		<!-- Edit Bookmark Modal -->
		<div class="ui modal small currviewmodal" ng-class="bmodal + $index">
			<i class="close icon"></i>
			  <div class="header">
			    <i class="edit icon"></i>Edit Bookmark
			  </div>
			  <div class="content">
			    <!-- Edit Form -->
			    <div class="ui form">
			    	<div class="field">
			    		<label>Bookmark Title</label>
			    		<input type="text" ng-model="bookmark.title" placeholder="Enter bookmark title">
			    	</div>
			    	<div class="field">
			    		<label>Bookmark URL</label>
			    		<input type="text" ng-model="bookmark.url" placeholder="Enter bookmark url">
			    	</div>
			    </div>
			  </div>
			  <div class="actions">
			    <div class="ui button deny" ng-click="cancel($index)">Cancel</div>
			    <div class="ui button approve" ng-click="update($index)">OK</div>
			  </div>
		</div>
	</div>