<div class="ui vertically padded page grid">

<div class="column">
<div class="ui doubling five cards" ng-cloak>
	<!-- Bookmarks -->
	<div class="ui card bookmark" ng-repeat="bookmark in bookmarks">
		<div class="ui dimmer" ng-class="{'active' : loadingBookmark[$index]}">
			<div class="ui loader"></div>
		</div>
		<div class="ui content dimmable">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<a ng-href="{{ bookmark.url }}" target="_blank"><div class="ui inverted button">Open</div></a>
					</div>
				</div>
			</div>
			<div class="header breakword">
			<i class="bookmark circular icon"></i>
				{{ bookmark.title }}
			</div>
			<div class="description breakword">
				{{ bookmark.url }}
			</div>
		</div>
		<div class="ui attached three buttons">
			<div class="ui button" ng-click="toggleMoving($index)">
				<i class="folder icon"></i> 
			</div>
			<div class="ui button" ng-click="edit($index)">
				<i class="edit icon"></i>
			</div>
			<div class="ui button" ng-click="remove($index)">
				<i class="trash icon"></i>
			</div>
		</div>
		<select class="ui dropdown bottom attached" ng-change='addToFolder($index, selectedFolder)' ng-model="selectedFolder" ng-options="folder.name for folder in folders" ng-show="moving[$index]">
		<option value="">Move to folder</option>
		</select>
		<!-- Edit Bookmark Modal -->
		<div class="ui modal small currviewmodal" ng-class="bmodal + $index">
			<i class="close icon"></i>
			  <div class="header">
			    <i class="edit icon"></i>Edit Bookmark
			  </div>
			  <div class="content">
			    <!-- Edit Form -->
			    <div class="ui form">
			    	<div class="field">
			    		<label>Bookmark Title</label>
			    		<input type="text" ng-model="bookmark.title" placeholder="Enter bookmark title">
			    	</div>
			    	<div class="field">
			    		<label>Bookmark URL</label>
			    		<input type="text" ng-model="bookmark.url" placeholder="Enter bookmark url">
			    	</div>
			    </div>
			  </div>
			  <div class="actions">
			    <div class="ui button deny" ng-click="cancel($index)">Cancel</div>
			    <div class="ui button approve" ng-click="update($index)">OK</div>

			  </div>
		</div>
	</div>
	<!-- Folders -->
	<div class="ui black card folder" ng-repeat="folder in folders">
		<div class="ui dimmer" ng-class="{'active' : loadingFolder[$index]}">
			<div class="ui loader"></div>
		</div>
		<div class="ui floating teal label">{{ folder.bookmarks.length }}</div>
		<div class="ui content dimmable">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<a ng-href="#/folder/{{ folder._id }}"><div class="ui inverted button">Open Folder</div></a>
					</div>
				</div>
			</div>
			<div class="header"></div>
			<div class="description center aligned">
				<i class="folder large circular icon"></i><div class="ui large header breakword">{{folder.name}}</div>
			</div>
		</div>
		<div class="ui bottom attached two buttons">
			<div class="ui button" ng-click="editFolder($index)">
				<i class="edit icon"></i>
			</div>
			<div class="ui button" ng-click="removeFolder($index)">
				<i class="trash icon"></i>
			</div>
		</div>
		<!-- Edit Folder modal -->
		<div class="ui modal small currviewmodal" ng-class="fmodal + $index">
			<i class="close icon"></i>
			  <div class="header">
			    <i class="edit icon"></i>Edit Folder
			  </div>
			  <div class="content">
			    <!-- Edit Form -->
			    <div class="ui form">
			    	<div class="field">
			    		<label>Folder Name</label>
			    		<input type="text" ng-model="folder.name" placeholder="Enter folder name">
			    	</div>
			    </div>
			  </div>
			  <div class="actions">
			    <div class="ui button deny" ng-click="cancelEditFolder($index)">Cancel</div>
			    <div class="ui button approve" ng-click="updateFolder(folder, $index)">OK</div>

			  </div>
		</div>
	</div>
</div>
</div>
</div>

<!-- SemanticUI Scripts -->
