<!DOCTYPE html>
<html>
<head>
	<title>MarkIt! - A bookmark Web App</title>
	<script type="text/javascript" src="js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular-route.min.js"></script>
</head>
<body ng-app="MarkIt" ng-controller="MainController">

<div ng-view></div>

<!-- Modules -->
<script type="text/javascript" src="js/app.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="js/controllers/MainController.js"></script>
<script type="text/javascript" src="js/controllers/FolderController.js"></script>


<!-- Directives -->


<!-- Services -->
<script type="text/javascript" src="js/services/bookmarks.js"></script>
<script type="text/javascript" src="js/services/folders.js"></script>
</body>
</html>