<!DOCTYPE html>
<html>
<head>
	<title>MarkIt! - A bookmark Web App</title>
	<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/markit.css">
	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="js/vendor/semantic.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js"></script>
</head>
<body ng-app="MarkIt">
<div class="ui inverted vertical segment">
	<div class="ui page grid">
		<div class="column">
			<div class="three column grid">
				<div class="left floated column">
					<a href="/#/"><h1 class="ui inverted header"><i class="book icon"></i>MarkIt!</h1></a>
				</div>
				<div class="right floated column">
					<div class="ui red buttons topbuttons ng-cloak">
						<div class="ui button" ng-click="addNew('bookmark')" ng-class="{'disabled' : !mainView}">
							<i class="bookmark icon"></i>Add New Bookmark
						</div>
						<div class="ui button" ng-click="addNew('folder')" ng-class="{'disabled' : !mainView}">
							<i class="folder icon"></i>Add New Folder
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui vertical segment" ng-show="currentFolderName" ng-cloak>
	<div class="ui page grid">
		<div class="column">
			<div class="ui large breadcrumb">
				<a class="ui header" href="/#/" ng-class="{active : !currentFolderName}">Home</a>
				<i class="divider right chevron icon"></i>
				<div class="section active">{{currentFolderName}}</div>
			</div>
		</div>
	</div>
</div>

	<div ng-view></div>

	<!-- Modals -->
	<!-- new bookmark form modal -->
	<div class="ui modal small newbookmark">
		<i class="close icon"></i>
		  <div class="header">
		    <i class="bookmark icon"></i>Add New Bookmark
		  </div>
		  <div class="content">
		    <!-- New Bookmark Form -->
		    <div class="ui form">
		    	<div class="field">
		    		<label>Bookmark Title</label>
		    		<input type="text" ng-model="newBookmark.title" placeholder="Enter bookmark title">
		    	</div>
		    	<div class="field">
		    		<label>Bookmark URL</label>
		    		<div class="ui labeled input">
		    			<div class="ui label">http://</div>
		    			<input type="text" ng-model="newBookmark.url" placeholder="google.com">
		    		</div>
		    	</div>
		    </div>
		  </div>
		  <div class="actions">
		    <div class="ui button deny" ng-click="newBookmark={}">Cancel</div>
		    <div class="ui button approve" ng-click="save(newBookmark)">OK</div>

		  </div>
	</div>

	<!-- new folder form modal -->
	<div class="ui modal small newfolder">
		<i class="close icon"></i>
		  <div class="header">
		    <i class="folder icon"></i>Add New Folder
		  </div>
		  <div class="content">
		    <!-- New Folder Form -->
		    <div class="ui form">
		    	<div class="field">
		    		<label>Folder Name</label>
		    		<input type="text" ng-model="newFolder.name" placeholder="Enter folder name">
		    	</div>
		    </div>
		  </div>
		  <div class="actions">
		    <div class="ui button deny" ng-click="newFolder={}">Cancel</div>
		    <div class="ui button approve" ng-click="saveFolder(newFolder)">OK</div>

		  </div>
	</div>

<!-- Modules -->
<script type="text/javascript" src="js/app.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="js/controllers/MainController.js"></script>
<script type="text/javascript" src="js/controllers/FolderController.js"></script>


<!-- Directives -->
<script type="text/javascript" src="js/directives/semantic-directives.js"></script>

<!-- Services -->
<script type="text/javascript" src="js/services/bookmarks.js"></script>
<script type="text/javascript" src="js/services/folders.js"></script>
</body>
</html>
