<!DOCTYPE html>
<html>
<head>
	<title>semantic test</title>
	<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
	<script type="text/javascript" src="js/vendor/jquery.js"></script>
	<script type="text/javascript" src="js/vendor/semantic.min.js"></script>
</head>
<body>
<div class="ui vertical segment">
	<div class="ui page grid">
		<div class="column">
			<h1 class="ui header">MarkIt!</h1>
		</div>
	</div>
</div>
<div class="ui vertically padded page grid">
<div class="column">
	<div class="ui five cards">
		<div class="ui card">
			<div class="ui content dimmable">
				<div class="ui dimmer">
					<div class="content">
						<div class="center">
							<div class="ui inverted button">Add Friend</div>
						</div>
					</div>
				</div>
				<div class="header">Title</div>
				<div class="description">http://title.com</div>
				<select class="ui dropdown attached">
					<option>hello</option>
					<option>world</option>
				</select>
			</div>
			<select class="ui dropdown attached">
				<option>hello</option>
				<option>world</option>
			</select>
			<div class="ui two bottom attached buttons">
				<div class="ui button">Edit</div>
				<div class="ui button">Delete</div>
			</div>
		</div>
		<div class="ui card">
			<div class="ui image dimmable">
				<div class="ui dimmer">
					<div class="content">
						<div class="center">
							<div class="ui inverted button">Add Friend</div>
						</div>
					</div>
				</div>
				<img src="img/folder.png">
			</div>
			<div class="content">
				<div class="header">Title</div>
				<div class="description">http://title.com</div>
			</div>
		</div>
		<div class="ui card">
			<div class="content">
				<div class="header">Title</div>
				<div class="description">http://title.com</div>
			</div>
		</div>
		<div class="ui card">
			<div class="image">
				<img src="img/folder.png">
			</div>
			<div class="content">
				<div class="header">Title</div>
				<div class="description">http://title.com</div>
			</div>
		</div>
		<div class="ui card">
			<div class="content">
				<div class="header">Title</div>
				<div class="description">http://title.com</div>
			</div>
		</div>
		<div class="ui card">
			<div class="image">
				<img src="img/folder.png">
			</div>
			<div class="content">
				<div class="header">Title</div>
				<div class="description">http://title.com</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="ui vertically padded page grid">
<div class="column">
<div class="ui five cards">
	<div class="ui card bookmark" ng-repeat="bookmark in bookmarks">
		<div class="ui content dimmable">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<div class="ui button" ng-click="edit($index)">Edit</div>
					</div>
				</div>
			</div>
			<div class="header">
				{{ bookmark.title }}
			</div>
			<div class="description">
				{{ bookmark.url }}
			</div>
		</div>
		<!-- Edit Form Modal -->
		<div class="ui modal">
			<i class="close icon"></i>
			  <div class="header">
			    Edit Bookmark
			  </div>
			  <div class="content">
			    <!-- Edit Form -->
			    <div class="ui form">
			    	<div class="field">
			    		<input type="text" ng-model="bookmark.title" placeholder="Enter bookmark title">
			    	</div>
			    	<div class="field">
			    		<input type="text" ng-model="bookmark.url" placeholder="Enter bookmark url">
			    	</div>
			    </div>
			  </div>
			  <div class="actions">
			    <div class="ui button" ng-click="cancel($index)">Cancel</div>
			    <div class="ui button" ng-click="update($index)">OK</div>
			  </div>
		</div>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
	$('.ui.dimmable').dimmer({
		on : 'hover'
	})
</script>
</body>
</html>